<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CompareNETObjects" version="3.05.0.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="NUnit.Asserts.Compare" version="1.1.15.0" targetFramework="net45" />
  <package id="NUnit.Should" version="1.0.2.0" targetFramework="net45" />
</packages>