@using System
@using System.Threading

@model System.DateTime

@{
    var controlId = ViewData.TemplateInfo.GetFullHtmlFieldId(string.Empty);
    var culture = Thread.CurrentThread.CurrentCulture;
    var cultureName = culture.Name;
    var netDateFormatString = culture.DateTimeFormat.ShortDatePattern;
    var emptyDateString = DateTime.MinValue.ToShortDateString();
}

<div id="@controlId-container">
    <div class="input-group date">
        @Html.TextBox(string.Empty, this.Model.ToShortDateString(), new { @class = "form-control" })
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-calendar"></i>
        </span>
    </div>
</div>

<script>
    $(function () {
        var dateInput = $('#@controlId');

        dateInput.datepicker({
            language: "@cultureName",
            clearBtn: true,
            orientation: "bottom",
            autoclose: true
        });

        if (dateInput.val() === "@emptyDateString") {
            dateInput.datepicker("update", "");
        }

        $('#@controlId-container .input-group-addon').click(function () {
            $('#@controlId').datepicker('show');
        });
    });

    $(function () {
        $.validator.methods.date = function (value, element) {
            return this.optional(element) || Date.parseExact(value, "@netDateFormatString") !== null;
        }
    });
</script>