@using Pizza.Mvc.HtmlHelpers
@using Pizza.Mvc.Resources
@model Pizza.Contracts.IDetailsModelBase

<h2>
    @ViewBag.PageTitle
</h2>

<div>
    <dl class="dl-horizontal">
        @Html.ModelDisplay(Model)
    </dl>
</div>

<p>
    @Html.ActionLink(UiTexts.Link_BackToIndex, (string)ViewBag.GoBackUrl)
</p>
